@model Proyeto.Models.MateriaImpartidaModel

@{
    ViewData["Title"] = "Nuevo Materia Impartida";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/css/footerFelcidades.css" />
    <style>
        /* Additional custom styles can be added here */
        body {
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }

        h4 {
            text-align: center;
            margin-top: 40px;
            font-size: 24px;
        }

        .container {
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 25px;
        }

        .form-control {
            padding: 12px;
            font-size: 18px;
            width: 100%; /* Make the input fields wider */
        }

        /* Button styling */
        .btn-action {
            margin-right: 10px;
            font-size: 18px;
        }

        .main-title {
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
        }

        .label-above {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="main-title">
            Materia Impartida
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form asp-action="Crear" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Matricula" class="control-label label-above"></label>
                        <input asp-for="Matricula" class="form-control" />
                        <span asp-validation-for="Matricula" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CarreraModel" class="control-label label-above"></label>
                        @Html.DropDownList("IdCarrera", (IEnumerable<SelectListItem>)ViewData["IdCarrera"], new { @class = "form-control" })

                        <span asp-validation-for="CarreraModel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MateriaAdmin" class="control-label label-above"></label>
                        @Html.DropDownList("IdMateriaAdmin", (IEnumerable<SelectListItem>)ViewData["IdMateriaAdmin"], new { @class = "form-control" })
                        <span asp-validation-for="MateriaAdmin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Grupo" class="control-label label-above"></label>
                        <input asp-for="Grupo" class="form-control" />
                        <span asp-validation-for="Grupo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label label-above">Documento</label>
                        <input type="file" value="Archivo" name="Archivo" id="Archivo" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-action" />
                        <a asp-action="Index" class="btn btn-secondary btn-action">Regresar a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>





