@model Proyeto.Models.MateriaImpartidaModel
@{
    ViewData["Title"] = "Editar Materia Impartida";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/css/footerFelcidades.css" />
    <style>
        /* Additional custom styles can be added here */
        body {
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
        }

        .form-container {
            margin-top: 20px;
            max-width: 600px; /* Adjust this value as needed */
        }

        .btn-action {
            margin-right: 10px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h4 class="text-left">Materia Impartida</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 form-container">
                <form asp-action="Editar" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="IdMateria" type="hidden" class="form-control" />

                    <div class="form-group">
                        <label asp-for="Matricula" class="control-label"></label>
                        <input asp-for="Matricula" class="form-control" />
                        <span asp-validation-for="Matricula" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CarreraModel" class="control-label"></label>
                        @Html.DropDownList("IdCarrera", (IEnumerable<SelectListItem>)ViewData["IdCarrera"], new { @class = "form-control"})

                        <span asp-validation-for="CarreraModel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MateriaAdmin" class="control-label"></label>
                        @Html.DropDownList("IdMateriaAdmin", (IEnumerable<SelectListItem>)ViewData["IdMateriaAdmin"], new { @class = "form-control"})
                        <span asp-validation-for="MateriaAdmin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Grupo" class="control-label"></label>
                        <input asp-for="Grupo" class="form-control" />
                        <span asp-validation-for="Grupo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaCuatri" class="control-label"></label>
                        <input asp-for="FechaCuatri" class="form-control" />
                        <span asp-validation-for="FechaCuatri" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UrlDocumento" class="control-label"></label>
                        <input readonly asp-for="UrlDocumento" class="form-control" />
                        <span asp-validation-for="UrlDocumento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nuevo Documento</label>
                        <input type="file" value="Archivo" name="Archivo" id="Archivo" class="form-control" />

                    </div>

                    <input asp-for="IdAutor1" type="hidden" class="form-control" />

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>

