header{
    background-color: rgba(31, 27, 27, 0.849);
    color: rgb(245, 228, 228);
    height: 5em;
    border: none;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    padding-top: 1.5em;
    text-align: center;
    padding-bottom: 1em;

}



.imagenesH{
    width: 100px;
    height: auto;
}

@media (max-width:400px){
    #fotoPerfil{
        width: 100px;
    }
}

article {
    margin: 1em;
    /* height: 18em; */
    /* padding: 1em; */
    background: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:992px){
    #navbarCollapse{
       background-color: rgb(233, 233, 233);
    }
}