/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: bold;
        display: block;
    }

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }
