@model Proyeto.Models.CuatriModel


<!DOCTYPE html>

@{
    ViewData["Title"] = "Nuevo Cuatri";
}

<link rel="stylesheet" href='~/css/StyleSheet1.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href='~/css/footerFelcidades.css' />



<h4>Cuatri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="NombreCuatri" class="control-label"></label>
                <input asp-for="NombreCuatri" class="form-control" />
                <span asp-validation-for="NombreCuatri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Documento</label>
                <input type="file" value="Archivo" name="Archivo" id="Archivo" class="form-control" />
               
            </div>
           
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

