@model IEnumerable<Proyeto.Models.UsuarioModel>

@{
    ViewData["Title"] = "Registro Existoso";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felicidades</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href='~/css/footerFelcidades.css' />

</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="display-4">¡Felicitaciones!</h1>
                <p class="lead">Te has registrado exitosamente.</p>
                <hr class="my-4">
                <p class="lead">Haz click aquí para ir a la página principal:</p>
                <a href="~/Home/Entrada" class="btn btn-primary btn-lg">Ir a la página principal</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
